<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Report</title>
</head>
<body>

<h1> This is the weather report for: <span th:text="${city}"></span> </h1>
<div>
    <ul>
        <li>Today's Date: </li>
        <li>Description:<span th:text="${description}"></span> </li>
        <li>Temperature (Fahrenheit):</li>
        <li>Temperature (Celsius):</li>
        <li>Sunrise Time: </li>
        <li>Sunset Time: </li>
    </ul>
</div>
</body>

</html>