<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Report</title>
</head>
<body>

<h3> This is the weather report for: <span th:text="${city}"></span> </h3>
<div>
    <ul>
        <li>Today's Date: </li>
        <li>Description: <strong><span th:text="${description}"></span></strong></li>
        <li>Temperature (Fahrenheit): <strong><span th:text="${fahrenheit}"></span></strong></li>
        <li>Temperature (Celsius): <strong><span th:text="${celsius}"></span></strong></li>
        <li>Sunrise Time: </li>
        <li>Sunset Time: </li>
    </ul>
</div>
</body>

</html>